<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			ML App
		</div>
		<h2 style="color:black ; font-size:50 ;text-align: center;">Sentiment detector for Tweets</h2>
		
	</div>
	</header>
	<p style="color:blue;font-size:20;text-align: center;"><b>Results for Comment</b></p>
	<div class="results">


		
	
	{% if prediction < 0.5%}
	<h2 style="color:red;font-size:20;text-align: center;">Negative</h2>
	<img class="img-positive" src="img/Negative.jpg" >
	{% elif prediction >= 0.5%}
	<h2 style="color:blue; font-size:20;text-align: center;">Positive</h2>
	<img class="img-negative" src="img/positive.jpg" >
	{% endif %}

	</div>

</body>
</html>